<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs") %>
  <body>
    <div class="container--main"><%- include('Header.ejs') %></div>
    <%- include('MenuModal.ejs') %>
    <!-------------------------------->
    <%- include('AddTransactions.ejs') %>
    <main>
      <!-------------------------------->
      <%- include('Stats.ejs') %>
      <!-------------------------------->
      <%- include('TransactionOverview.ejs') %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="api.js"></script>
    <script src="app.js"></script>
  </body>
</html>
