<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <div class="container--main">
      <!-------------------------------->
      <%- include('/partials/header') %>
    </div>
    <%- include('/modals/MenuModal') %>
    <!-------------------------------->
    <%- include('/modals/addTransactions') %>
    <main>
      <!-------------------------------->
      <%- include('/partials/Stats') %>
      <!-------------------------------->
      <%- include('/partials/TransactionOverview') %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="api.js"></script>
    <script src="app.js"></script>
  </body>
</html>
