<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs") %>
  <body>
    <div class="container--main"><%- include('./partials/header.ejs') %></div>
    <%- include('./partials/modals/MenuModal.ejs') %> <%-
    include('./partials/modals/AddTransactions.ejs') %>
    <main>
      <%- include('./partials/Stats.ejs') %> <%-
      include('./partials/TransactionOverview.ejs') %>
    </main>
    <script src="app.js"></script>
  </body>
</html>
